/* .row{
  background-color: red;

}
.row div {
  background-color: white;
}
.row div:nth-child(Odd)
{
  background-color: black;
} */
.carousel-control-next-icon{
  background-image: url(../Image/right-arrow.png);
}
.carousel-control-prev-icon {
  background-image: url(../Image/left-arrow.png);
}
